<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BkiWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="ClaimOle"
          connectionString="Provider=VFPOLEDB.1;Data Source=C:\BKIWS\"
          providerName="System.Data.OleDb" />    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <BkiWebService.Properties.Settings>
            <setting name="BkiWebService_com_bangkokinsurance_www_send_clm_ostdata_dev"
                serializeAs="String">
                <value>http://www.bangkokinsurance.com/FAX_CLM_EX_WS/send_clm_ostdata.asmx</value>
            </setting>
        </BkiWebService.Properties.Settings>
    </applicationSettings>
</configuration>